body {
    background-color:#e2ac7f;
}

#wrap {
    width: 40vw;
    height: auto;
    margin-left: 25%;
    text-align: center;
    border: 5px dotted black;
    background-color: #f5f5dc;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
     
}

h1 {
    border-bottom: 5px dotted black;
    background-color: #f5f5dc;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    font-style: italic;
}

p {
    text-align: left;
    padding-left: 4%;
}

li::first-letter {
    font-size: 2em;
}
ul {
list-style: none;
text-align: center;
font-style: italic;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}